<h1>Versionen der Verträge</h1>

<table class='table'>
  <tr>
    <th>Vertrag</th>
    <th>Version</th>
    <th>Start</th>
    <th>Laufzeit in Monaten</th>
    <th>Laufzeit in Jahren</th>
    <th>Zinssatz</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contract_versions.each do |contract_version| %>
  <tr>
    <td><%= "#{contract_version.contract.number} 
            (#{contract_version.contract.contact.name},
             #{contract_version.contract.contact.prename} )" %></td>
    <td><%= contract_version.version %></td>
    <td><%= contract_version.start %></td>
    <td><%= contract_version.duration_months %></td>
    <td><%= contract_version.duration_years %></td>
    <td><%= fraction(contract_version.interest_rate) %></td>
    <td><%= link_to 'Anzeigen', contract_version %></td>
    <td><%= link_to 'Editieren', edit_contract_version_path(contract_version) %></td>
    <td><%= link_to 'Löschen', contract_version, method: :delete, data: { confirm: 'Sicher?' } %></td>
  </tr>
<% end %>
</table>

<br />
