<p id="notice"><%= notice %></p>

<p>
  <b>Vertrag:</b>
  <%= "Nr. #{@contract_version.contract.number} (#{@contract_version.contract.contact.prename} #{@contract_version.contract.contact.name})" %>
</p>

<p>
  <b>Versionsnummer:</b>
  <%= @contract_version.version %>
</p>

<p>
  <b>Start:</b>
  <%= @contract_version.start %>
</p>

<p>
  <b>Laufzeit in Monaten:</b>
  <%= @contract_version.duration_months %>
</p>

<p>
  <b>Laufzeit in Jahren:</b>
  <%= @contract_version.duration_years %>
</p>

<p>
  <b>Zinssatz:</b>
  <%= fraction(@contract_version.interest_rate) %>
</p>

<%= link_to 'Editieren', edit_contract_version_path(@contract_version) %> |
<%= link_to 'Zurück', contract_versions_path %>
