<%= form_for(@contract) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nummer" %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label "Kontakt" %><br />
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label :name, "Laufzeit in Monaten" %><br />
    <%= f.number_field :duration_month %>
  </div>
  <div class="field">
    <%= f.label :name, " * ODER * " %><br />
    <%= f.label :name, "Laufzeit in Jahren" %><br />
    <%= f.number_field :duration_years %>
  </div>
  <div class="field">
    <%= f.label "Zinssatz" %><br />
    <%= f.text_field :interest_rate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
