<% sum = 0 %>
<table class='table'>
  <tr>
    <th>Nummer</th>
    <th>Kontakt</th>
    <th>Restlaufzeit in Monaten</th>
    <th>Betrag</th>
  </tr>

<% @some_contracts.each do |contract| %>
  <% balance = contract.balance(@date) %>
  <tr>
    <td><%= contract.number %></td>
    <td><%= "#{contract.contact.prename} #{contract.contact.name}" %></td>
    <td><%= contract.remaining_months %></td>
    <td><%= currency(balance) %></td>
  </tr>
  <% sum += balance %>
<% end %>
</table>

<b>Summe in dieser Kategorie: <%= currency(sum) %></b>

