<h1>Übersicht Direktkreditverträge, sortiert nach Ablaufdatum</h1>

<table>
  <tr>
    <th>Ablaufdatum</th>
    <th>Nummer</th>
    <th>Kontakt</th>
    <th>Start</th>
    <th>Laufzeit in Monaten</th>
    <th>Laufzeit in Jahren</th>
    <th>Zinssatz</th>
    <th></th>
  </tr>

<% @contracts.each do |contract| %>
  <tr>
    <td><%= contract.expiring %></td>
    <td><%= contract.number %></td>
    <td><%= "#{contract.contact.prename} #{contract.contact.name}" %></td>
    <td><%= contract.start %></td>
    <td><%= contract.duration_month %></td>
    <td><%= contract.duration_years %></td>
    <td><%= fraction(contract.interest_rate) %></td>
    <td><%= link_to 'Anzeigen', contract %></td>
  </tr>
<% end %>
</table>


