<h1>Übersicht Direktkreditverträge, sortiert nach Ablaufdatum</h1>

Die Angaben von Start, Laufzeit und Zinssatz beziehen sich auf die letzte Version der Verträge.

<table>
  <tr>
    <th>Ablaufdatum</th>
    <th>Nummer</th>
    <th>Kontakt</th>
    <th>Start</th>
    <th>Laufzeit in Monaten</th>
    <th>Laufzeit in Jahren</th>
    <th>Zinssatz</th>
    <th></th>
  </tr>

<% @contracts.each do |contract| %>
<% last_version = contract.last_version %>
  <tr>
    <td><%= contract.expiring %></td>
    <td><%= contract.number %></td>
    <td><%= "#{contract.contact.prename} #{contract.contact.name}" %></td>
    <td><%= last_version.start %></td>
    <td><%= last_version.duration_months %></td>
    <td><%= last_version.duration_years %></td>
    <td><%= fraction(last_version.interest_rate) %></td>
    <td><%= link_to 'Anzeigen', contract %></td>
  </tr>
<% end %>
</table>


