<h1>Übersicht Direktkreditverträge</h1>

<table>
  <tr>
    <th>Nummer</th>
    <th>Kontakt</th>
    <th>Kontostand</th>
    <th>Start</th>
    <th>Laufzeit in Monaten</th>
    <th>Laufzeit in Jahren</th>
    <th>Zinssatz</th>
    <th>Typ</th>
    <th>Bemerkung</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contracts.each do |contract| %>
  <tr>
    <td><%= contract.number %></td>
    <td><%= "#{contract.contact.prename} #{contract.contact.name}" %></td>
    <td><%= contract.balance %>€</td>
    <td><%= contract.start %></td>
    <td><%= contract.duration_month %></td>
    <td><%= contract.duration_years %></td>
    <td><%= fraction(contract.interest_rate) %></td>
    <td><%= contract.category %></td>
    <td><%= contract.comment %></td>
    <td><%= link_to 'Anzeigen', contract %></td>
    <td><%= link_to 'Editieren', edit_contract_path(contract) %></td>
    <td><%= link_to 'Löschen', contract, method: :delete, data: { confirm: 'Sicher?' } %></td>
    <td><%= link_to 'Buchung erstellen', new_contract_accounting_entry_path(contract) %>
        <%= link_to 'Vertragsversion erstellen', new_contract_contract_version_path(contract) %>
        <%= link_to 'Kontoauszug', contract_accounting_entries_path(contract) %></td>
  </tr>
<% end %>
</table>


