<p id="notice"><%= notice %></p>

<p>
  <b>Nummer:</b>
  <%= @contract.number %>
</p>

<p>
  <b>Kontakt:</b>
  <%= "#{@contract.contact.prename} #{@contract.contact.name}" %>
</p>

<p>
  <b>Start:</b>
  <%= @contract.start %>
</p>

<p>
  <b>Laufzeit Monate:</b>
  <%= @contract.duration_month %>
</p>

<p>
  <b>Laufzeit Jahre:</b>
  <%= @contract.duration_years %>
</p>

<p>
  <b>Zinssatz:</b>
  <%= @contract.interest_rate %>
</p>


<%= link_to 'Editieren', edit_contract_path(@contract) %> |
<%= link_to 'Zurück', contracts_path %>
