<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @contract.number %>
</p>

<p>
  <b>Contact:</b>
  <%= @contract.contact %>
</p>

<p>
  <b>Start:</b>
  <%= @contract.start %>
</p>

<p>
  <b>Duration month:</b>
  <%= @contract.duration_month %>
</p>

<p>
  <b>Duration years:</b>
  <%= @contract.duration_years %>
</p>

<p>
  <b>Interest rate:</b>
  <%= @contract.interest_rate %>
</p>


<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
