<p id="notice"><%= notice %></p>

<p>
  <b>Nummer:</b>
  <%= @contract.number %>
</p>

<p>
  <b>Kontakt:</b>
  <%= "#{@contract.contact.prename} #{@contract.contact.name}" %>
</p>

<p>
  <b>Start:</b>
  <%= @contract.start %>
</p>

<p>
  <b>Laufzeit Monate:</b>
  <%= @contract.duration_month %>
</p>

<p>
  <b>Laufzeit Jahre:</b>
  <%= @contract.duration_years %>
</p>

<p>
  <b>Zinssatz:</b>
  <%= fraction(@contract.interest_rate) %>
</p>

<p>
  <b>Kategorie:</b>
  <%= @contract.category %>
</p>

<p>
  <b>Bemerkung:</b>
  <%= @contract.comment %>
</p>


<%= link_to 'Editieren', edit_contract_path(@contract) %> |
<%= link_to 'Zurück zu Verträgen', contracts_path %> |
<%= link_to 'Zurück zu Kontakten', contacts_path %>
