<%= form_for([@contract, @accounting_entry]) do |f| %>
  <% if @accounting_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accounting_entry.errors.count, "error") %> prohibited this accounting_entry from being saved:</h2>

      <ul>
      <% @accounting_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Vorgang" %><br />
    <%= f.text_field :process %>
  </div>
  <div class="field">
    <%= f.label "Buchungsdatum" %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label "Betrag" %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit "Fertig" %>
  </div>
<% end %>
