<h1>Buchungsübersicht</h1>

<table>
  <tr>
    <th>Vorgang</th>
    <th>Datum</th>
    <th>Betrag</th>
    <th>Vertragsnummer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounting_entries.each do |accounting_entry| %>
  <tr>
    <td><%= accounting_entry.amount > 0 ? "Einzahlung" : "Auszahlung"%></td>
    <td><%= accounting_entry.date %></td>
    <td><%= accounting_entry.amount %></td>
    <td><%= accounting_entry.contract.number %></td>
    <td><%= link_to 'Anzeigen', accounting_entry %></td>
    <td><%= link_to 'Editieren', edit_accounting_entry_path(accounting_entry) %></td>
    <td><%= link_to 'Löschen', accounting_entry, method: :delete, data: { confirm: 'Sicher?' } %></td>
  </tr>
<% end %>
</table>

<h3>Einschränkung auf ein Jahr</h3>
<%= form_tag( "/accounting_entries", :method => "get") do %>
  <% year = Date.current.year %>
  <%= select_tag :year, options_for_select(((year-10)..year).to_a, year) %> 
  <%= submit_tag "nur dieses Jahr" %>
<% end %>

<h3>Einschränkung auf einen Zeitraum</h3>
<%= form_tag( "/accounting_entries", :method => "get") do %>
  <%= label_tag "von " %><br />
  <%= select_date Date.today, :prefix => :start_date %><br/>
  <%= label_tag "bis " %><br />
  <%= select_date Date.today, :prefix => :end_date %><br/>
  <%= submit_tag "nur dieser Zeitraum" %>
<% end %>


