<p id="notice"><%= notice %></p>

<p>
  <b>Vorgang:</b>
  <%= @accounting_entry.process %>
</p>

<p>
  <b>Datum:</b>
  <%= @accounting_entry.date %>
</p>

<p>
  <b>Betrag:</b>
  <%= @accounting_entry.amount %>
</p>

<p>
  <b>Vertragsnummer:</b>
  <%= @accounting_entry.contract.number %>
</p>


<%= link_to 'Editieren', edit_accounting_entry_path(@accounting_entry) %> |
<%= link_to 'Zurück', accounting_entries_path %>
