<h1>Direktkreditverwaltung</h1>

<h2>Datenbanken</h3>

<h3>Personen</h3>
<%=link_to "Kontakte", contacts_path %>

<h3>Vertr채ge</h3>
<%=link_to "Direktkreditvertr채ge", contracts_path %>

<h3>Buchungen</h3>
<%=link_to "Alle Buchungen ", accounting_entries_path %>

<h2>Auswertungen</h2>
<%=link_to "Zinsen", contracts_interest_path %> (auch zur Erzeugung der Zinsbriefe am Jahresende)<br/>
<%=link_to "Zins체berweisungsliste", contracts_interest_transfer_list_path %><br/>
<%=link_to "Auslaufende Vertr채ge", contracts_expiring_path %>

<h2>Dokumente</h2>

