<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nachname oder Firmenname" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :name, "Vorname" %><br />
    <%= f.text_field :prename %>
  </div>
  <div class="field">
    <%= f.label "Adresse" %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label "E-Mail" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Telefon" %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label "Kontonummer" %><br />
    <%= f.text_field :account_number %>
  </div>
  <div class="field">
    <%= f.label :name, "BLZ" %><br />
    <%= f.text_field :bank_number %>
  </div>
  <div class="field">
    <%= f.label :name, "Name der Bank" %><br />
    <%= f.text_field :bank_name %>
  </div>
  <div class="field">
    <%= f.label "Bemerkung" %><br />
    <%= f.text_field :remark %>
  </div>
  <div class="actions">
    <%= f.submit "Fertig" %>
  </div>
<% end %>
