<h1>Listing contacts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Prename</th>
    <th>Address</th>
    <th>Account number</th>
    <th>Bank number</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td><%= contact.prename %></td>
    <td><%= contact.address %></td>
    <td><%= contact.account_number %></td>
    <td><%= contact.bank_number %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= #link_to 'Vertrag erstellen', 
        #create_for_contact_contract_path(:contact_id => contact.id)
        
                                       # :controller => "contract", 
                                       #  :action => "create_for_contact",
                                       #  :contact_id => contact.id 
        
        %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
