<h1>Listing contacts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Vorname</th>
    <th>Adresse</th>
    <th>Kontonummer</th>
    <th>BLZ</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td><%= contact.prename %></td>
    <td><%= contact.address %></td>
    <td><%= contact.account_number %></td>
    <td><%= contact.bank_number %></td>
    <td><%= link_to 'Anzeigen', contact %></td>
    <td><%= link_to 'Editieren', edit_contact_path(contact) %></td>
    <td><%= link_to 'Löschen', contact, method: :delete, data: { confirm: 'Sicher?' } %></td>
    <td><%= link_to 'Vertrag erstellen', new_contact_contract_path(contact) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
