<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>

<p>
  <b>Vorname:</b>
  <%= @contact.prename %>
</p>

<p>
  <b>Adresse:</b>
  <%= @contact.address %>
</p>

<p>
  <b>E-Mail:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Telefon:</b>
  <%= @contact.phone %>
</p>

<p>
  <b>Kontonummer:</b>
  <%= @contact.account_number %>
</p>

<p>
  <b>BLZ:</b>
  <%= @contact.bank_number %>
</p>

<p>
  <b>Name der Bank:</b>
  <%= @contact.bank_name %>
</p>

<p>
  <b>Bemerkung</b>
  <%= @contact.remark %>
</p>

<%= link_to 'Editieren', edit_contact_path(@contact) %> |
<%= link_to 'Zurück', contacts_path %>
