%div.navbar-header
  = link_to "Home", root_path, :class => 'navbar-brand'

%div.collapse.navbar-collapse
  %ul.nav.navbar-nav
    %li= link_to "Kontakte", contacts_path
    %li= link_to "Direktkreditvertr채ge", contracts_path
    %li= link_to "Versionen der Vertr채ge", contract_versions_path
    %li= link_to "Alle Buchungen", accounting_entries_path
    %li.dropdown
      %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
        Auswertungen
        %b.caret
      %ul.dropdown-menu
        %li= link_to "Zinsen", contracts_interest_path
        %li= link_to "Zins체berweisungsliste", contracts_interest_transfer_list_path
        %li= link_to "Durchschnittlicher Zinssatz", contracts_interest_average_path
        %li= link_to "Auslaufende Vertr채ge", contracts_expiring_path
        %li= link_to "Restlaufzeiten in Kategorien", contracts_remaining_term_path
